In [1]:
import pandas as pd

In [139]:
data = pd.read_csv("yelp_boston.csv")

In [151]:
data

,name,url,review_count,categories,rating,snippet_text,location,neighborhood,latitude,longitude,search category
0,Wheelhouse,http://www.yelp.com/biz/wheelhouse-boston-3,101,"[[""Breakfast & Brunch"", ""breakfast_brunch""], [...",4.5,"After going to Wheelhouse, you'll never order ...","{""cross_streets"": ""Milk St & Batterymarch Arm""...",Financial District,42.357926,-71.053962,restaurants
1,Tenoch Mexican,http://www.yelp.com/biz/tenoch-mexican-boston,121,"[[""Mexican"", ""mexican""]]",4.5,"So it's official, folks. We've finished our sa...","{""city"": ""Boston"", ""display_address"": [""3 Lewi...",North End,42.363309,-71.051800,restaurants
2,O Ya,http://www.yelp.com/biz/o-ya-boston,450,"[[""Japanese"", ""japanese""]]",4.5,My husband and I came here to celebrate our 20...,"{""city"": ""Boston"", ""display_address"": [""9 E St...",Waterfront,42.351408,-71.056867,restaurants
3,Locale,http://www.yelp.com/biz/locale-boston,121,"[[""Italian"", ""italian""], [""Pizza"", ""pizza""]]",4.5,Truly thankful that we stumbled on Locale whil...,"{""cross_streets"": ""Fleet St & Tileston St"", ""c...",North End,42.365085,-71.053187,restaurants
4,Neptune Oyster,http://www.yelp.com/biz/neptune-oyster-boston,2487,"[[""Seafood"", ""seafood""], [""Live/Raw Food"", ""ra...",4.5,Best lobster roll on the whole trip..... and I...,"{""cross_streets"": ""Hull St & Stillman St"", ""ci...",North End,42.363618,-71.056012,restaurants
...,...,...,...,...,...,...,...,...,...,...,...
338,El Madina,http://www.yelp.com/biz/el-madina-revere,8,"[[""Mediterranean"", ""mediterranean""], [""Middle ...",4.5,I went in around closing tonight because I was...,"{""city"": ""Revere"", ""display_address"": [""148 Sq...",NaN,42.423248,-71.009514,ethnicmarkets
339,The Shops at Porter,http://www.yelp.com/biz/the-shops-at-porter-ca...,79,"[[""Japanese"", ""japanese""], [""Ethnic Food"", ""et...",4.0,This is like a small (chibi) version of the Ja...,"{""city"": ""Cambridge"", ""display_address"": [""Uni...",Porter Square,42.387192,-71.118778,ethnicmarkets
340,Bazaar International Gourmet,http://www.yelp.com/biz/bazaar-international-g...,52,"[[""Ethnic Food"", ""ethnicmarkets""], [""Grocery"",...",4.0,"The Bazaar at 1432 Beacon Street, Brookline Ma...","{""city"": ""Brookline"", ""display_address"": [""143...",Coolidge Corner,42.341065,-71.126470,ethnicmarkets
341,G Mart 2 Supermarket,http://www.yelp.com/biz/g-mart-2-supermarket-b...,48,"[[""Grocery"", ""grocery""], [""Ethnic Food"", ""ethn...",4.0,Everything is inexpensive! I was so surprised ...,"{""cross_streets"": ""Beach St & Tufts St"", ""city...",Waterfront,42.351569,-71.058365,ethnicmarkets
342,Bonne Chance Cafe & Bakery,http://www.yelp.com/biz/bonne-chance-cafe-and-...,22,"[[""Bakeries"", ""bakeries""], [""Coffee & Tea"", ""c...",4.0,I have to say.... I've not had anything else o...,"{""cross_streets"": ""Traverse St & Market St"", ""...",NaN,42.364044,-71.059463,ethnicmarkets

In [153]:
sd = data[data['name'] == "Douzo"]
sd

,name,url,review_count,categories,rating,snippet_text,location,neighborhood,latitude,longitude,search category
146,Douzo,http://www.yelp.com/biz/douzo-boston,723,"[[""Sushi Bars"", ""sushi""], [""Japanese"", ""japane...",4.0,One of the best sushi places I have ever been ...,"{""cross_streets"": ""Columbus Ave & Chandler St""...",Back Bay,42.346832,-71.075424,sushi
169,Douzo,http://www.yelp.com/biz/douzo-boston,723,"[[""Sushi Bars"", ""sushi""], [""Japanese"", ""japane...",4.0,One of the best sushi places I have ever been ...,"{""cross_streets"": ""Columbus Ave & Chandler St""...",Back Bay,42.346832,-71.075424,japanese

In [3]:
boston = [];
for x in data['location']:
    if ("Boston" in x) & ("West Roxbury" not in x) & ("Dorchester" not in x) & ("Hyde Park" not in x) & ("Mattapan" not in x) & ("Roslindale" not in x) & ("Jamaica Plain" not in x) & ("Southampton" not in x) & ("87 Glenville" not in x) & ("1414 Commonwealth Ave" not in x) & ("888 Co" not in x):
        boston.append(x)

In [4]:
data = data.loc[data['location'].isin(boston)]
data

,name,url,review_count,categories,rating,snippet_text,location,neighborhood,latitude,longitude,search category
0,Wheelhouse,http://www.yelp.com/biz/wheelhouse-boston-3,101,"[[""Breakfast & Brunch"", ""breakfast_brunch""], [...",4.5,"After going to Wheelhouse, you'll never order ...","{""cross_streets"": ""Milk St & Batterymarch Arm""...",Financial District,42.357926,-71.053962,restaurants
1,Tenoch Mexican,http://www.yelp.com/biz/tenoch-mexican-boston,121,"[[""Mexican"", ""mexican""]]",4.5,"So it's official, folks. We've finished our sa...","{""city"": ""Boston"", ""display_address"": [""3 Lewi...",North End,42.363309,-71.051800,restaurants
2,O Ya,http://www.yelp.com/biz/o-ya-boston,450,"[[""Japanese"", ""japanese""]]",4.5,My husband and I came here to celebrate our 20...,"{""city"": ""Boston"", ""display_address"": [""9 E St...",Waterfront,42.351408,-71.056867,restaurants
3,Locale,http://www.yelp.com/biz/locale-boston,121,"[[""Italian"", ""italian""], [""Pizza"", ""pizza""]]",4.5,Truly thankful that we stumbled on Locale whil...,"{""cross_streets"": ""Fleet St & Tileston St"", ""c...",North End,42.365085,-71.053187,restaurants
4,Neptune Oyster,http://www.yelp.com/biz/neptune-oyster-boston,2487,"[[""Seafood"", ""seafood""], [""Live/Raw Food"", ""ra...",4.5,Best lobster roll on the whole trip..... and I...,"{""cross_streets"": ""Hull St & Stillman St"", ""ci...",North End,42.363618,-71.056012,restaurants
...,...,...,...,...,...,...,...,...,...,...,...
322,Bon Me,http://www.yelp.com/biz/bon-me-boston-8,28,"[[""Vietnamese"", ""vietnamese""], [""Food Trucks"",...",4.0,"I'm no longer a virgin. Well, I'm no longer a ...","{""cross_streets"": ""Atlantic Ave & South St"", ""...",Waterfront,42.348722,-71.057985,vietnamese
336,South Boston Lithuanian Club,http://www.yelp.com/biz/south-boston-lithuania...,13,"[[""Polish"", ""polish""], [""Ukrainian"", ""ukrainia...",4.5,This place is delicious!! The thought of anyth...,"{""city"": ""Boston"", ""display_address"": [""368 W ...",South Boston,42.337900,-71.048910,ethnicmarkets
337,Sate Asian Grill,http://www.yelp.com/biz/sate-asian-grill-boston-2,19,"[[""Ethnic Food"", ""ethnicmarkets""], [""Korean"", ...",4.0,This place is excellent. I work right down the...,"{""city"": ""Boston"", ""display_address"": [""89 S S...",Waterfront,42.351807,-71.057484,ethnicmarkets
341,G Mart 2 Supermarket,http://www.yelp.com/biz/g-mart-2-supermarket-b...,48,"[[""Grocery"", ""grocery""], [""Ethnic Food"", ""ethn...",4.0,Everything is inexpensive! I was so surprised ...,"{""cross_streets"": ""Beach St & Tufts St"", ""city...",Waterfront,42.351569,-71.058365,ethnicmarkets
342,Bonne Chance Cafe & Bakery,http://www.yelp.com/biz/bonne-chance-cafe-and-...,22,"[[""Bakeries"", ""bakeries""], [""Coffee & Tea"", ""c...",4.0,I have to say.... I've not had anything else o...,"{""cross_streets"": ""Traverse St & Market St"", ""...",NaN,42.364044,-71.059463,ethnicmarkets

In [138]:
# data.to_csv("new_boston.csv")

In [134]:
data[data.name == "OTTO"]

,name,url,review_count,categories,rating,snippet_text,location,neighborhood,latitude,longitude,search category
239,OTTO,http://www.yelp.com/biz/otto-boston,107,"[[""Pizza"", ""pizza""], [""Bars"", ""bars""]]",4.0,"Can only review them based on delivery, not th...","{""city"": ""Boston"", ""display_address"": [""888 Co...",Allston/Brighton,42.350441,-71.115257,pizza

In [ ]:
data['search category'].unique()

array(['restaurants', 'coffee', 'newamerican', 'french', 'sandwiches',
       'cafes', 'indpak', 'sushi', 'japanese', 'chinese', 'mexican',
       'thai', 'pizza', 'donuts', 'bakeries', 'italian', 'vietnamese',
       'ethnicmarkets'], dtype=object)

In [ ]:
len(data['search category'])

262

In [ ]:
len(filter1)

262

In [ ]:
filter1 = []
for x in data['search category']:
    if x in ['coffee','bakeries','cafes', 'donuts']:
        filter1.append('cb')
    elif x == 'ethnicmarkets':
            filter1.append('market')
    else:
        filter1.append('restaurant')

In [ ]:
data['filter1'] = filter1

In the original dataset, "categories" column is a string of a double bracketed list. The following lambda function takes the first object of that list into "filter2" column.

In [67]:
#df = df.apply(lambda x: x.str.replace(',', ''))
data['filter2'] = data['categories'].apply(lambda x: x.replace('[','').replace(']','').replace('"','').split(',')[0].strip())

In [92]:
filter2unique = data.filter2.unique()
filter2unique

array(['Breakfast & Brunch', 'Mexican', 'Japanese', 'Italian', 'Seafood',
       'American (New)', 'Mediterranean', 'Spanish', 'Pizza',
       'Sandwiches', 'Juice Bars & Smoothies', 'Indian', 'Belgian',
       'American (Traditional)', 'Korean', 'Coffee & Tea', 'Cafes',
       'Grocery', 'Bakeries', 'Bars', 'Lounges', 'Cocktail Bars',
       'French', 'Desserts', 'Delis', 'Sushi Bars', 'Bubble Tea',
       'Diners', 'Vegan', 'Pakistani', 'Chinese', 'Asian Fusion', 'Ramen',
       'Mongolian', 'Vietnamese', 'Dim Sum', 'Cantonese', 'Food Trucks',
       'Thai', 'Ice Cream & Frozen Yogurt', 'Donuts', 'Greek', 'Polish',
       'Ethnic Food'], dtype=object)

In [99]:
newfilter1 = []

# filter criteria
cb = ['Breakfast & Brunch','Coffee & Tea','Bakeries','Cafes','Donuts'] # cafes, bakeries
market = ['Delis','Grocery'] # markets
dd = ['Juice Bars & Smoothies','Bubble Tea','Ice Cream & Frozen Yogurt','Desserts','Bars','Lounges','Cocktail Bars'] #drinks, desserts

for x in range(len(data)):
    row = data.iloc[x,:]
    if (row['filter2'] in cb) or (row['filter1']=='cb'):
        newfilter1.append('cb')
    elif (row['filter2'] in market) or (row['filter1'] == 'market'):
        newfilter1.append('market')
    elif row['filter2'] in dd:
        newfilter1.append('dd')
    else:
        newfilter1.append('restaurant')

In [100]:
data['filter1'] = newfilter1

In [115]:
print(len(data[data['filter1']=='restaurant']['filter2'].unique()))
data[data['filter1']=='restaurant']['filter2'].unique()

26

array(['Mexican', 'Japanese', 'Italian', 'Seafood', 'American (New)',
       'Mediterranean', 'Spanish', 'Pizza', 'Sandwiches', 'Indian',
       'Belgian', 'American (Traditional)', 'Korean', 'French',
       'Sushi Bars', 'Diners', 'Pakistani', 'Chinese', 'Asian Fusion',
       'Ramen', 'Mongolian', 'Vietnamese', 'Dim Sum', 'Cantonese',
       'Food Trucks', 'Thai'], dtype=object)

In [111]:
# I'm sorry but we need to condense this 26 is too much
# I apologize for culturally lumping these

## American: new, traditional

## Japanese: Japanese, Sushi Bars, Ramen

## Italian: Italian, Pizza

## Chinese: Cantonese, Dim Sum, Chinese

In [118]:
filter2new = []
am = ['American (Traditional)','American (New)']
jpn = ['Sushi Bars','Ramen']
itl = ['Pizza']
cn = ['Dim Sum','Cantonese']

for x in range(len(data)):
    row = data.iloc[x,:]
    f2 = row['filter2']
    if f2 in am:
        filter2new.append('American')
    elif f2 in jpn:
        filter2new.append('Japanese')
    elif f2 in itl:
        filter2new.append('Italian')
    elif f2 in cn:
        filter2new.append('Chinese')
    else:
        filter2new.append(f2)

In [119]:
data['filter2'] = filter2new

In [120]:
## check filter2 cats
print(len(data[data['filter1']=='restaurant']['filter2'].unique()))
data[data['filter1']=='restaurant']['filter2'].unique()

20

array(['Mexican', 'Japanese', 'Italian', 'Seafood', 'American',
       'Mediterranean', 'Spanish', 'Sandwiches', 'Indian', 'Belgian',
       'Korean', 'French', 'Diners', 'Pakistani', 'Chinese',
       'Asian Fusion', 'Mongolian', 'Vietnamese', 'Food Trucks', 'Thai'],
      dtype=object)

In [ ]:
# we can live with 20 i guess :')

In [122]:
data[data['filter1']=='dd']['filter2'].unique()

array(['Juice Bars & Smoothies', 'Bars', 'Lounges', 'Cocktail Bars',
       'Desserts', 'Bubble Tea', 'Ice Cream & Frozen Yogurt'],
      dtype=object)

In [ ]:
# We realized later that there were duplicates

In [2]:
df = pd.read_csv('new_boston.csv')

df = df.drop_duplicates('location')

In [3]:
df.to_csv('new_boston.csv')